.header
  &-menu
    &_link
      &:hover
        color: #118DA8

.reviews
  &-item
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
    &:hover
      transform: scale(1.035, 1.035)
      box-shadow: 0 0 30px rgba(17, 141, 168, 0.5)
